{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "parser": "babel-eslint",
  "globals": {
    "window": true,
    "document": true
  },
  "rules": {
    "import/prefer-default-export": 0,
    "react/prop-types": 1,
    "react/jsx-props-no-spreading": 0,
    "no-console": "off",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js"]
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["./src"],
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}
